.individual-product {
	display:inline-block;
	padding:0 10px;
	text-align: center;
}

.individual-product-container {
	padding-top: 65px;
}

.individual-product-image {
	padding-left: 75px;
	height: 200px;
	width: 275px;
}

.fa {
	padding-left: 10px;
}

.individual-product-detailing {
	float: right;
	padding-right: 250px;
	padding-top: 15px;
}

.product-header {
	font-size: 35px;
	padding-bottom: 10px;
	width:600px;
	text-align: center;
}

.cart-image {
	height: 72px;
	width: 42px;
	float: right;
	padding-bottom: 30px;
}

.individual-product > div > img {
	height:200px;
	width:200px;
}

.individual-product .product-container .product-text {
	padding-top: 10px;
}